* {
  box-sizing: border-box;
  /* border: 1px solid maroon; */
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  color: rgb(66,66,66);

}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  /* flex-wrap: wrap; */
  position:relative;
}
.content_header{
  margin: 0 0.5rem;
  font-weight: 600;
  padding: 2rem 0;
}
