.nav_container {
    display: flex;    
    flex-direction: column;
    padding: 1rem;
    width: 25%;
    height: 100vh;
    /* vh-view-height */
    /* vs min-width: 220px; */
    background-color: #D3D3D3;
}
.nav_buttons {
    display: flex;
    flex-direction: column;
}
.nav_buttons button {
    margin-bottom: 1rem;
    background-color: #23B8BE;
    padding: 0.5rem 0;
    color: white;
    border-radius: 0.1rem;
    font-weight: 600;

}
