.notes_Form {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}
.createNoteTitle {
    width: 60%;
    height: 40px;
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1 px solid #b2b2b2;
}
.createNoteBody {
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1 px solid #b2b2b2;
}
.createNote_button {
    width: 45%;
    margin-bottom: 1rem;
    background-color: #23B8BE;
    padding: 0.5rem 0;
    color: white;
    border-radius: 0.1rem;
    font-weight: 600;
    border: none;
    text-align: center;
}
/* had to insert this css here */
.danger {
    background-color: red;
}
